@{
    ViewData["Title"] = "Home Page";
}

<div id="centered-content" class="text-center">
    <h1 class="display-4" id="animate-text">Welcome To Your Favorite Shopping Cart</h1>
    <p id="additional-text" style="display: none;">You'll need to login first; if you don't have an account please register</p>
</div>

