@model ShoppingCart.Models.Product


<div class="container" style="position: absolute; top:100px">

<h2 class="col-md-4 offset-md-2">Edit Price and Sale Status</h2>

<form asp-action="EditPrice" asp-route-id="@Model.Id" class="col-md-4 offset-md-2">
    <div class="form-group">
        <label asp-for="Price">Price</label>
        <input asp-for="Price" class="form-control" />
    </div>
    <div class="form-group">
        <label for="IsOnSale">On Sale?</label>
        <input asp-for="IsOnSale" type="checkbox" />
    </div>
    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<a asp-action="Index">Back to List</a>
</div>